In [1]:
import json
import requests

In [2]:
import pandas as pd

In [3]:
r1 = requests.get('https://raw.githubusercontent.com/hjorturlarsen/IMDB-top-100/master/data/movies.json')
print(r1.json())

[{'title': 'The Shawshank Redemption', 'rank': '1', 'id': 'tt0111161'}, {'title': 'The Godfather', 'rank': '2', 'id': 'tt0068646'}, {'title': 'The Godfather: Part II', 'rank': '3', 'id': 'tt0071562'}, {'title': 'Pulp Fiction', 'rank': '4', 'id': 'tt0110912'}, {'title': 'The Good, the Bad and the Ugly', 'rank': '5', 'id': 'tt0060196'}, {'title': 'The Dark Knight', 'rank': '6', 'id': 'tt0468569'}, {'title': '12 Angry Men', 'rank': '7', 'id': 'tt0050083'}, {'title': "Schindler's List", 'rank': '8', 'id': 'tt0108052'}, {'title': 'The Lord of the Rings: The Return of the King', 'rank': '9', 'id': 'tt0167260'}, {'title': 'Fight Club', 'rank': '10', 'id': 'tt0137523'}, {'title': 'Star Wars: Episode V - The Empire Strikes Back', 'rank': '11', 'id': 'tt0080684'}, {'title': 'The Lord of the Rings: The Fellowship of the Ring', 'rank': '12', 'id': 'tt0120737'}, {'title': "One Flew Over the Cuckoo's Nest", 'rank': '13', 'id': 'tt0073486'}, {'title': 'Inception', 'rank': '14', 'id': 'tt1375666'}, {'title': 'Goodfellas', 'rank': '15', 'id': 'tt0099685'}, {'title': 'Star Wars', 'rank': '16', 'id': 'tt0076759'}, {'title': 'Seven Samurai', 'rank': '17', 'id': 'tt0047478'}, {'title': 'Forrest Gump', 'rank': '18', 'id': 'tt0109830'}, {'title': 'The Matrix', 'rank': '19', 'id': 'tt0133093'}, {'title': 'The Lord of the Rings: The Two Towers', 'rank': '20', 'id': 'tt0167261'}, {'title': 'City of God', 'rank': '21', 'id': 'tt0317248'}, {'title': 'Se7en', 'rank': '22', 'id': 'tt0114369'}, {'title': 'The Silence of the Lambs', 'rank': '23', 'id': 'tt0102926'}, {'title': 'Once Upon a Time in the West', 'rank': '24', 'id': 'tt0064116'}, {'title': 'Casablanca', 'rank': '25', 'id': 'tt0034583'}, {'title': 'The Usual Suspects', 'rank': '26', 'id': 'tt0114814'}, {'title': 'Raiders of the Lost Ark', 'rank': '27', 'id': 'tt0082971'}, {'title': 'Rear Window', 'rank': '28', 'id': 'tt0047396'}, {'title': "It's a Wonderful Life", 'rank': '29', 'id': 'tt0038650'}, {'title': 'Psycho', 'rank': '30', 'id': 'tt0054215'}, {'title': 'Léon: The Professional', 'rank': '31', 'id': 'tt0110413'}, {'title': 'Sunset Blvd.', 'rank': '32', 'id': 'tt0043014'}, {'title': 'American History X', 'rank': '33', 'id': 'tt0120586'}, {'title': 'Apocalypse Now', 'rank': '34', 'id': 'tt0078788'}, {'title': 'Terminator 2: Judgment Day', 'rank': '35', 'id': 'tt0103064'}, {'title': 'Saving Private Ryan', 'rank': '36', 'id': 'tt0120815'}, {'title': 'Memento', 'rank': '37', 'id': 'tt0209144'}, {'title': 'City Lights', 'rank': '38', 'id': 'tt0021749'}, {'title': 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'rank': '39', 'id': 'tt0057012'}, {'title': 'Alien', 'rank': '40', 'id': 'tt0078748'}, {'title': 'Modern Times', 'rank': '41', 'id': 'tt0027977'}, {'title': 'Spirited Away', 'rank': '42', 'id': 'tt0245429'}, {'title': 'North by Northwest', 'rank': '43', 'id': 'tt0053125'}, {'title': 'Back to the Future', 'rank': '44', 'id': 'tt0088763'}, {'title': 'Life Is Beautiful', 'rank': '45', 'id': 'tt0118799'}, {'title': 'The Shining', 'rank': '46', 'id': 'tt0081505'}, {'title': 'The Pianist', 'rank': '47', 'id': 'tt0253474'}, {'title': 'Citizen Kane', 'rank': '48', 'id': 'tt0033467'}, {'title': 'The Departed', 'rank': '49', 'id': 'tt0407887'}, {'title': 'M', 'rank': '50', 'id': 'tt0022100'}, {'title': 'Paths of Glory', 'rank': '51', 'id': 'tt0050825'}, {'title': 'Vertigo', 'rank': '52', 'id': 'tt0052357'}, {'title': 'Django Unchained', 'rank': '53', 'id': 'tt1853728'}, {'title': 'Double Indemnity', 'rank': '54', 'id': 'tt0036775'}, {'title': 'The Dark Knight Rises', 'rank': '55', 'id': 'tt1345836'}, {'title': 'Aliens', 'rank': '56', 'id': 'tt0090605'}, {'title': 'Taxi Driver', 'rank': '57', 'id': 'tt0075314'}, {'title': 'American Beauty', 'rank': '58', 'id': 'tt0169547'}, {'title': 'The Green Mile', 'rank': '59', 'id': 'tt0120689'}, {'title': 'Gladiator', 'rank': '60', 'id': 'tt0172495'}, {'title': 'The Intouchables', 'rank': '61', 'id': 'tt1675434'}, {'title': 'WALL·E', 'rank': '62', 'id': 'tt0910970'}, {'title': 'The Lives of Others', 'rank': '63', 'id': 'tt0405094'}, {'title': 'Toy Story 3', 'rank': '64', 'id': 'tt0435761'}, {'title': 'The Great Dictator', 'rank': '65', 'id': 'tt0032553'}, {'title': 'The Prestige', 'rank': '66', 'id': 'tt0482571'}, {'title': 'A Clockwork Orange', 'rank': '67', 'id': 'tt0066921'}, {'title': 'Lawrence of Arabia', 'rank': '68', 'id': 'tt0056172'}, {'title': 'Amélie', 'rank': '69', 'id': 'tt0211915'}, {'title': 'To Kill a Mockingbird', 'rank': '70', 'id': 'tt0056592'}, {'title': 'Reservoir Dogs', 'rank': '71', 'id': 'tt0105236'}, {'title': 'Das Boot', 'rank': '72', 'id': 'tt0082096'}, {'title': 'The Lion King', 'rank': '73', 'id': 'tt0110357'}, {'title': 'Cinema Paradiso', 'rank': '74', 'id': 'tt0095765'}, {'title': 'Star Wars: Episode VI - Return of the Jedi', 'rank': '75', 'id': 'tt0086190'}, {'title': 'The Treasure of the Sierra Madre', 'rank': '76', 'id': 'tt0040897'}, {'title': 'The Third Man', 'rank': '77', 'id': 'tt0041959'}, {'title': 'Once Upon a Time in America', 'rank': '78', 'id': 'tt0087843'}, {'title': 'Requiem for a Dream', 'rank': '79', 'id': 'tt0180093'}, {'title': 'Eternal Sunshine of the Spotless Mind', 'rank': '80', 'id': 'tt0338013'}, {'title': 'Full Metal Jacket', 'rank': '81', 'id': 'tt0093058'}, {'title': 'Oldboy', 'rank': '82', 'id': 'tt0364569'}, {'title': 'Braveheart', 'rank': '83', 'id': 'tt0112573'}, {'title': 'L.A. Confidential', 'rank': '84', 'id': 'tt0119488'}, {'title': 'Bicycle Thieves', 'rank': '85', 'id': 'tt0040522'}, {'title': 'Chinatown', 'rank': '86', 'id': 'tt0071315'}, {'title': "Singin' in the Rain", 'rank': '87', 'id': 'tt0045152'}, {'title': 'Princess Mononoke', 'rank': '88', 'id': 'tt0119698'}, {'title': 'Monty Python and the Holy Grail', 'rank': '89', 'id': 'tt0071853'}, {'title': 'Metropolis', 'rank': '90', 'id': 'tt0017136'}, {'title': 'Rashomon', 'rank': '91', 'id': 'tt0042876'}, {'title': 'Some Like It Hot', 'rank': '92', 'id': 'tt0053291'}, {'title': 'Amadeus', 'rank': '93', 'id': 'tt0086879'}, {'title': '2001: A Space Odyssey', 'rank': '94', 'id': 'tt0062622'}, {'title': 'All About Eve', 'rank': '95', 'id': 'tt0042192'}, {'title': 'Witness for the Prosecution', 'rank': '96', 'id': 'tt0051201'}, {'title': 'The Sting', 'rank': '97', 'id': 'tt0070735'}, {'title': 'The Apartment', 'rank': '98', 'id': 'tt0053604'}, {'title': 'Grave of the Fireflies', 'rank': '99', 'id': 'tt0095327'}, {'title': 'Indiana Jones and the Last Crusade', 'rank': '100', 'id': 'tt0097576'}]

In [4]:
import urllib, json

url = "https://raw.githubusercontent.com/hjorturlarsen/IMDB-top-100/master/data/movies.json"
response = urllib.request.urlopen(url)
data = json.loads(response.read())
print(data)

[{'title': 'The Shawshank Redemption', 'rank': '1', 'id': 'tt0111161'}, {'title': 'The Godfather', 'rank': '2', 'id': 'tt0068646'}, {'title': 'The Godfather: Part II', 'rank': '3', 'id': 'tt0071562'}, {'title': 'Pulp Fiction', 'rank': '4', 'id': 'tt0110912'}, {'title': 'The Good, the Bad and the Ugly', 'rank': '5', 'id': 'tt0060196'}, {'title': 'The Dark Knight', 'rank': '6', 'id': 'tt0468569'}, {'title': '12 Angry Men', 'rank': '7', 'id': 'tt0050083'}, {'title': "Schindler's List", 'rank': '8', 'id': 'tt0108052'}, {'title': 'The Lord of the Rings: The Return of the King', 'rank': '9', 'id': 'tt0167260'}, {'title': 'Fight Club', 'rank': '10', 'id': 'tt0137523'}, {'title': 'Star Wars: Episode V - The Empire Strikes Back', 'rank': '11', 'id': 'tt0080684'}, {'title': 'The Lord of the Rings: The Fellowship of the Ring', 'rank': '12', 'id': 'tt0120737'}, {'title': "One Flew Over the Cuckoo's Nest", 'rank': '13', 'id': 'tt0073486'}, {'title': 'Inception', 'rank': '14', 'id': 'tt1375666'}, {'title': 'Goodfellas', 'rank': '15', 'id': 'tt0099685'}, {'title': 'Star Wars', 'rank': '16', 'id': 'tt0076759'}, {'title': 'Seven Samurai', 'rank': '17', 'id': 'tt0047478'}, {'title': 'Forrest Gump', 'rank': '18', 'id': 'tt0109830'}, {'title': 'The Matrix', 'rank': '19', 'id': 'tt0133093'}, {'title': 'The Lord of the Rings: The Two Towers', 'rank': '20', 'id': 'tt0167261'}, {'title': 'City of God', 'rank': '21', 'id': 'tt0317248'}, {'title': 'Se7en', 'rank': '22', 'id': 'tt0114369'}, {'title': 'The Silence of the Lambs', 'rank': '23', 'id': 'tt0102926'}, {'title': 'Once Upon a Time in the West', 'rank': '24', 'id': 'tt0064116'}, {'title': 'Casablanca', 'rank': '25', 'id': 'tt0034583'}, {'title': 'The Usual Suspects', 'rank': '26', 'id': 'tt0114814'}, {'title': 'Raiders of the Lost Ark', 'rank': '27', 'id': 'tt0082971'}, {'title': 'Rear Window', 'rank': '28', 'id': 'tt0047396'}, {'title': "It's a Wonderful Life", 'rank': '29', 'id': 'tt0038650'}, {'title': 'Psycho', 'rank': '30', 'id': 'tt0054215'}, {'title': 'Léon: The Professional', 'rank': '31', 'id': 'tt0110413'}, {'title': 'Sunset Blvd.', 'rank': '32', 'id': 'tt0043014'}, {'title': 'American History X', 'rank': '33', 'id': 'tt0120586'}, {'title': 'Apocalypse Now', 'rank': '34', 'id': 'tt0078788'}, {'title': 'Terminator 2: Judgment Day', 'rank': '35', 'id': 'tt0103064'}, {'title': 'Saving Private Ryan', 'rank': '36', 'id': 'tt0120815'}, {'title': 'Memento', 'rank': '37', 'id': 'tt0209144'}, {'title': 'City Lights', 'rank': '38', 'id': 'tt0021749'}, {'title': 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'rank': '39', 'id': 'tt0057012'}, {'title': 'Alien', 'rank': '40', 'id': 'tt0078748'}, {'title': 'Modern Times', 'rank': '41', 'id': 'tt0027977'}, {'title': 'Spirited Away', 'rank': '42', 'id': 'tt0245429'}, {'title': 'North by Northwest', 'rank': '43', 'id': 'tt0053125'}, {'title': 'Back to the Future', 'rank': '44', 'id': 'tt0088763'}, {'title': 'Life Is Beautiful', 'rank': '45', 'id': 'tt0118799'}, {'title': 'The Shining', 'rank': '46', 'id': 'tt0081505'}, {'title': 'The Pianist', 'rank': '47', 'id': 'tt0253474'}, {'title': 'Citizen Kane', 'rank': '48', 'id': 'tt0033467'}, {'title': 'The Departed', 'rank': '49', 'id': 'tt0407887'}, {'title': 'M', 'rank': '50', 'id': 'tt0022100'}, {'title': 'Paths of Glory', 'rank': '51', 'id': 'tt0050825'}, {'title': 'Vertigo', 'rank': '52', 'id': 'tt0052357'}, {'title': 'Django Unchained', 'rank': '53', 'id': 'tt1853728'}, {'title': 'Double Indemnity', 'rank': '54', 'id': 'tt0036775'}, {'title': 'The Dark Knight Rises', 'rank': '55', 'id': 'tt1345836'}, {'title': 'Aliens', 'rank': '56', 'id': 'tt0090605'}, {'title': 'Taxi Driver', 'rank': '57', 'id': 'tt0075314'}, {'title': 'American Beauty', 'rank': '58', 'id': 'tt0169547'}, {'title': 'The Green Mile', 'rank': '59', 'id': 'tt0120689'}, {'title': 'Gladiator', 'rank': '60', 'id': 'tt0172495'}, {'title': 'The Intouchables', 'rank': '61', 'id': 'tt1675434'}, {'title': 'WALL·E', 'rank': '62', 'id': 'tt0910970'}, {'title': 'The Lives of Others', 'rank': '63', 'id': 'tt0405094'}, {'title': 'Toy Story 3', 'rank': '64', 'id': 'tt0435761'}, {'title': 'The Great Dictator', 'rank': '65', 'id': 'tt0032553'}, {'title': 'The Prestige', 'rank': '66', 'id': 'tt0482571'}, {'title': 'A Clockwork Orange', 'rank': '67', 'id': 'tt0066921'}, {'title': 'Lawrence of Arabia', 'rank': '68', 'id': 'tt0056172'}, {'title': 'Amélie', 'rank': '69', 'id': 'tt0211915'}, {'title': 'To Kill a Mockingbird', 'rank': '70', 'id': 'tt0056592'}, {'title': 'Reservoir Dogs', 'rank': '71', 'id': 'tt0105236'}, {'title': 'Das Boot', 'rank': '72', 'id': 'tt0082096'}, {'title': 'The Lion King', 'rank': '73', 'id': 'tt0110357'}, {'title': 'Cinema Paradiso', 'rank': '74', 'id': 'tt0095765'}, {'title': 'Star Wars: Episode VI - Return of the Jedi', 'rank': '75', 'id': 'tt0086190'}, {'title': 'The Treasure of the Sierra Madre', 'rank': '76', 'id': 'tt0040897'}, {'title': 'The Third Man', 'rank': '77', 'id': 'tt0041959'}, {'title': 'Once Upon a Time in America', 'rank': '78', 'id': 'tt0087843'}, {'title': 'Requiem for a Dream', 'rank': '79', 'id': 'tt0180093'}, {'title': 'Eternal Sunshine of the Spotless Mind', 'rank': '80', 'id': 'tt0338013'}, {'title': 'Full Metal Jacket', 'rank': '81', 'id': 'tt0093058'}, {'title': 'Oldboy', 'rank': '82', 'id': 'tt0364569'}, {'title': 'Braveheart', 'rank': '83', 'id': 'tt0112573'}, {'title': 'L.A. Confidential', 'rank': '84', 'id': 'tt0119488'}, {'title': 'Bicycle Thieves', 'rank': '85', 'id': 'tt0040522'}, {'title': 'Chinatown', 'rank': '86', 'id': 'tt0071315'}, {'title': "Singin' in the Rain", 'rank': '87', 'id': 'tt0045152'}, {'title': 'Princess Mononoke', 'rank': '88', 'id': 'tt0119698'}, {'title': 'Monty Python and the Holy Grail', 'rank': '89', 'id': 'tt0071853'}, {'title': 'Metropolis', 'rank': '90', 'id': 'tt0017136'}, {'title': 'Rashomon', 'rank': '91', 'id': 'tt0042876'}, {'title': 'Some Like It Hot', 'rank': '92', 'id': 'tt0053291'}, {'title': 'Amadeus', 'rank': '93', 'id': 'tt0086879'}, {'title': '2001: A Space Odyssey', 'rank': '94', 'id': 'tt0062622'}, {'title': 'All About Eve', 'rank': '95', 'id': 'tt0042192'}, {'title': 'Witness for the Prosecution', 'rank': '96', 'id': 'tt0051201'}, {'title': 'The Sting', 'rank': '97', 'id': 'tt0070735'}, {'title': 'The Apartment', 'rank': '98', 'id': 'tt0053604'}, {'title': 'Grave of the Fireflies', 'rank': '99', 'id': 'tt0095327'}, {'title': 'Indiana Jones and the Last Crusade', 'rank': '100', 'id': 'tt0097576'}]

In [5]:
with open('movie.json','w') as f:
    json.dump(data,f)

In [6]:
df=pd.read_json("movie.json",lines=False)
df.head(10)

                                           title  rank         id
0                       The Shawshank Redemption     1  tt0111161
1                                  The Godfather     2  tt0068646
2                         The Godfather: Part II     3  tt0071562
3                                   Pulp Fiction     4  tt0110912
4                 The Good, the Bad and the Ugly     5  tt0060196
5                                The Dark Knight     6  tt0468569
6                                   12 Angry Men     7  tt0050083
7                               Schindler's List     8  tt0108052
8  The Lord of the Rings: The Return of the King     9  tt0167260
9                                     Fight Club    10  tt0137523

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
title    100 non-null object
rank     100 non-null int64
id       100 non-null object
dtypes: int64(1), object(2)
memory usage: 2.5+ KB

In [8]:
df.columns

Index(['title', 'rank', 'id'], dtype='object')

In [9]:
df.rename(columns={
    'title':'Title',
    'rank':'Rank',
    'id':'MovieID'
},inplace = True)

In [10]:
df.columns

Index(['Title', 'Rank', 'MovieID'], dtype='object')

In [11]:
df.head(10)

                                           Title  Rank    MovieID
0                       The Shawshank Redemption     1  tt0111161
1                                  The Godfather     2  tt0068646
2                         The Godfather: Part II     3  tt0071562
3                                   Pulp Fiction     4  tt0110912
4                 The Good, the Bad and the Ugly     5  tt0060196
5                                The Dark Knight     6  tt0468569
6                                   12 Angry Men     7  tt0050083
7                               Schindler's List     8  tt0108052
8  The Lord of the Rings: The Return of the King     9  tt0167260
9                                     Fight Club    10  tt0137523

In [12]:
df.set_index(['Rank','MovieID'],inplace=True)

In [13]:
df.tail(5)

                                             Title
Rank MovieID
96   tt0051201         Witness for the Prosecution
97   tt0070735                           The Sting
98   tt0053604                       The Apartment
99   tt0095327              Grave of the Fireflies
100  tt0097576  Indiana Jones and the Last Crusade

In [14]:
df.loc[100]

                                        Title
MovieID
tt0097576  Indiana Jones and the Last Crusade

In [15]:
df.loc[10]

                Title
MovieID
tt0137523  Fight Club

In [16]:
df.loc[1]

                              Title
MovieID
tt0111161  The Shawshank Redemption

In [17]:
with open('movie.json') as json_file:
    data = json.load(json_file)
    for p in data:
        print('Rank: ' + p['rank'])
        print('MovieID: ' + p['id'])
        print('Title: ' + p['title'])
        print('')

Rank: 1
MovieID: tt0111161
Title: The Shawshank Redemption

Rank: 2
MovieID: tt0068646
Title: The Godfather

Rank: 3
MovieID: tt0071562
Title: The Godfather: Part II

Rank: 4
MovieID: tt0110912
Title: Pulp Fiction

Rank: 5
MovieID: tt0060196
Title: The Good, the Bad and the Ugly

Rank: 6
MovieID: tt0468569
Title: The Dark Knight

Rank: 7
MovieID: tt0050083
Title: 12 Angry Men

Rank: 8
MovieID: tt0108052
Title: Schindler's List

Rank: 9
MovieID: tt0167260
Title: The Lord of the Rings: The Return of the King

Rank: 10
MovieID: tt0137523
Title: Fight Club

Rank: 11
MovieID: tt0080684
Title: Star Wars: Episode V - The Empire Strikes Back

Rank: 12
MovieID: tt0120737
Title: The Lord of the Rings: The Fellowship of the Ring

Rank: 13
MovieID: tt0073486
Title: One Flew Over the Cuckoo's Nest

Rank: 14
MovieID: tt1375666
Title: Inception

Rank: 15
MovieID: tt0099685
Title: Goodfellas

Rank: 16
MovieID: tt0076759
Title: Star Wars

Rank: 17
MovieID: tt0047478
Title: Seven Samurai

Rank: 18
MovieID: tt0109830
Title: Forrest Gump

Rank: 19
MovieID: tt0133093
Title: The Matrix

Rank: 20
MovieID: tt0167261
Title: The Lord of the Rings: The Two Towers

Rank: 21
MovieID: tt0317248
Title: City of God

Rank: 22
MovieID: tt0114369
Title: Se7en

Rank: 23
MovieID: tt0102926
Title: The Silence of the Lambs

Rank: 24
MovieID: tt0064116
Title: Once Upon a Time in the West

Rank: 25
MovieID: tt0034583
Title: Casablanca

Rank: 26
MovieID: tt0114814
Title: The Usual Suspects

Rank: 27
MovieID: tt0082971
Title: Raiders of the Lost Ark

Rank: 28
MovieID: tt0047396
Title: Rear Window

Rank: 29
MovieID: tt0038650
Title: It's a Wonderful Life

Rank: 30
MovieID: tt0054215
Title: Psycho

Rank: 31
MovieID: tt0110413
Title: Léon: The Professional

Rank: 32
MovieID: tt0043014
Title: Sunset Blvd.

Rank: 33
MovieID: tt0120586
Title: American History X

Rank: 34
MovieID: tt0078788
Title: Apocalypse Now

Rank: 35
MovieID: tt0103064
Title: Terminator 2: Judgment Day

Rank: 36
MovieID: tt0120815
Title: Saving Private Ryan

Rank: 37
MovieID: tt0209144
Title: Memento

Rank: 38
MovieID: tt0021749
Title: City Lights

Rank: 39
MovieID: tt0057012
Title: Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb

Rank: 40
MovieID: tt0078748
Title: Alien

Rank: 41
MovieID: tt0027977
Title: Modern Times

Rank: 42
MovieID: tt0245429
Title: Spirited Away

Rank: 43
MovieID: tt0053125
Title: North by Northwest

Rank: 44
MovieID: tt0088763
Title: Back to the Future

Rank: 45
MovieID: tt0118799
Title: Life Is Beautiful

Rank: 46
MovieID: tt0081505
Title: The Shining

Rank: 47
MovieID: tt0253474
Title: The Pianist

Rank: 48
MovieID: tt0033467
Title: Citizen Kane

Rank: 49
MovieID: tt0407887
Title: The Departed

Rank: 50
MovieID: tt0022100
Title: M

Rank: 51
MovieID: tt0050825
Title: Paths of Glory

Rank: 52
MovieID: tt0052357
Title: Vertigo

Rank: 53
MovieID: tt1853728
Title: Django Unchained

Rank: 54
MovieID: tt0036775
Title: Double Indemnity

Rank: 55
MovieID: tt1345836
Title: The Dark Knight Rises

Rank: 56
MovieID: tt0090605
Title: Aliens

Rank: 57
MovieID: tt0075314
Title: Taxi Driver

Rank: 58
MovieID: tt0169547
Title: American Beauty

Rank: 59
MovieID: tt0120689
Title: The Green Mile

Rank: 60
MovieID: tt0172495
Title: Gladiator

Rank: 61
MovieID: tt1675434
Title: The Intouchables

Rank: 62
MovieID: tt0910970
Title: WALL·E

Rank: 63
MovieID: tt0405094
Title: The Lives of Others

Rank: 64
MovieID: tt0435761
Title: Toy Story 3

Rank: 65
MovieID: tt0032553
Title: The Great Dictator

Rank: 66
MovieID: tt0482571
Title: The Prestige

Rank: 67
MovieID: tt0066921
Title: A Clockwork Orange

Rank: 68
MovieID: tt0056172
Title: Lawrence of Arabia

Rank: 69
MovieID: tt0211915
Title: Amélie

Rank: 70
MovieID: tt0056592
Title: To Kill a Mockingbird

Rank: 71
MovieID: tt0105236
Title: Reservoir Dogs

Rank: 72
MovieID: tt0082096
Title: Das Boot

Rank: 73
MovieID: tt0110357
Title: The Lion King

Rank: 74
MovieID: tt0095765
Title: Cinema Paradiso

Rank: 75
MovieID: tt0086190
Title: Star Wars: Episode VI - Return of the Jedi

Rank: 76
MovieID: tt0040897
Title: The Treasure of the Sierra Madre

Rank: 77
MovieID: tt0041959
Title: The Third Man

Rank: 78
MovieID: tt0087843
Title: Once Upon a Time in America

Rank: 79
MovieID: tt0180093
Title: Requiem for a Dream

Rank: 80
MovieID: tt0338013
Title: Eternal Sunshine of the Spotless Mind

Rank: 81
MovieID: tt0093058
Title: Full Metal Jacket

Rank: 82
MovieID: tt0364569
Title: Oldboy

Rank: 83
MovieID: tt0112573
Title: Braveheart

Rank: 84
MovieID: tt0119488
Title: L.A. Confidential

Rank: 85
MovieID: tt0040522
Title: Bicycle Thieves

Rank: 86
MovieID: tt0071315
Title: Chinatown

Rank: 87
MovieID: tt0045152
Title: Singin' in the Rain

Rank: 88
MovieID: tt0119698
Title: Princess Mononoke

Rank: 89
MovieID: tt0071853
Title: Monty Python and the Holy Grail

Rank: 90
MovieID: tt0017136
Title: Metropolis

Rank: 91
MovieID: tt0042876
Title: Rashomon

Rank: 92
MovieID: tt0053291
Title: Some Like It Hot

Rank: 93
MovieID: tt0086879
Title: Amadeus

Rank: 94
MovieID: tt0062622
Title: 2001: A Space Odyssey

Rank: 95
MovieID: tt0042192
Title: All About Eve

Rank: 96
MovieID: tt0051201
Title: Witness for the Prosecution

Rank: 97
MovieID: tt0070735
Title: The Sting

Rank: 98
MovieID: tt0053604
Title: The Apartment

Rank: 99
MovieID: tt0095327
Title: Grave of the Fireflies

Rank: 100
MovieID: tt0097576
Title: Indiana Jones and the Last Crusade